#root {
  background-color: rgb(33, 36, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 550;
  color: white;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.ann {
  background-color: #2981bf;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.goal {
  text-align: center;
}

.bg-success{
  background-color: #036f3d !important;
}